@*This "@model WebApplication4.Models.Student
    " statement indicates that this view has received an object of following class*@

@model WebApplication4.Models.Student

@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

ID : @Model.Id
Name : @Model.Name
Batch Code : @Model.Batch
Marks : @Model.Marks

