
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

 <h3> Studnet Details </h3>
 <pre>
ID : @ViewBag.student.Id <br />
Name : @ViewBag.student.Name <br />
Batch Code : @ViewBag.student.Batch <br />
Marks : @ViewBag.student.Marks <br />
 
</pre>
