
@{
    ViewData["Title"] = "fifth";
}

<h1>fifth</h1>


We use @@ where ever Server side code is needed <br />

<h1>  @ViewBag.data </h1>

<br /> <br /><br /><br /><br /><br />
Name is @ViewData["name"]

